
            <div *ngFor="let product of getProduct()" class="product-card">
                <div class="product-card__image">
                    <img style="width: auto" src="" alt="zzzz">
                </div>
                <div class="product-cart__info">
                    <div class="product-card__info-name">Name: <p class="product-card__name">{{product.name}}</p></div>
                    <div class="product-card__info-count">description <p class="product-card__count">{{product.description}}</p></div>
                    <div class="product-card__info-price">price: <p class="product-card__price">{{product.price}}</p></div>
                </div>
                <div class="product-card__more-info">
                    <button  class="product-card__button">buy</button>
                </div>
            </div>
