<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
<!--  <link rel="stylesheet" href="/styles.css">-->
  <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
</head>
<body>
<app-header></app-header>
<main class="main">
  <div class="product-list">
<!--    <% data.forEach(item => { %>-->
<!--            <div key="<%= item.id %>" class="product-card">-->
<!--                <div class="product-card__image">-->
<!--                    <img style="width: auto" src="" alt="zzzz">-->
<!--                </div>-->
<!--                <div class="product-cart__info">-->
<!--                    <div class="product-card__info-name">Name: <p class="product-card__name"><%= item.name %></p></div>-->
<!--                    <div class="product-card__info-count">Count: <p class="product-card__count"><%= item.count %></p></div>-->
<!--                    <div class="product-card__info-price">price: <p class="product-card__price"><%= item.price %></p></div>-->
<!--                </div>-->
<!--                <div class="product-card__more-info">-->
<!--                    <button key="<%= item.id %>" class="product-card__button">buy</button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <%});%>-->

  </div>
  <div class="cart"></div>
</main>
<!--<script type="text/javascript" src="/main.js"></script>-->
</body>
<app-footer></app-footer>
</html>
