<div class="product-list">
  <div class="product-card">
    <div class="product-card__info">
      <div class="product-card__info-name">name <p class="product-card__name">{{productDescription.name}}</p>
      </div>
      <div class="product-card__info-description">description<p
        class="product-card__description">{{productDescription.description}}</p></div>
      <div class="product-card__info-price">price <p class="product-card__price">{{productDescription.price }}
        $</p></div>
    </div>
  </div>

</div>
